/* Sfondo della pagina di registrazione */
body {
    margin: 0;
    padding: 0;
    background-image: url('img/vico-luna.png'); /* il tuo vicolo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.75);
    height: 100vh;
}
